.container {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    cursor: pointer;
}

.title{
    font-size: 18px;
    font-weight: bold;
    color: crimson;
}

.price{
    font-size: 18px;
    font-weight: bold;
    color: #444;
}

.desc{
    text-align: center;
    color: #666;
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }

    .title {
        font-size: 30px;
    }

    .price, .desc {
        font-size: 20px;
    }
}